/* General Mobile forumng style adjustments */
.mma-forumng-image-correction {
    display: inline;
    width: auto;
}
.mma-forumng-gray-text {
    color: #767676;
}
.mma-forumng-smaller-text {
    font-size: 1.4rem;
}
.mma-forumng-align-items-normal {
    align-items: normal;
}
.mma-forumng-no-margin {
    margin: 0;
}

/* Discussions listing page */
.mma-forumng-discussion-list .mma-forumng-discussion-card .mma-forumng-iconsize-correction ion-icon[item-start] {
    margin: 0;
}
.mma-forumng-discussion-list .mma-forumng-header {
    margin: 0;
    border-bottom: 1px solid #d3d3d3;
}
.mma-forumng-discussion-list .mma-forumng-discussion-card {
    margin: 2px;
    width: calc(100% - 4px);
}
[dir="ltr"] .list-md.mma-forumng-discussion-list {
    margin-bottom: 0;
}
.mma-forumng-infinite-scroll ion-infinite-scroll-content {
    min-height: 10px;
}

/* Posts listing page */
.mma-forumng-posts-list-wrapper .mma-forumng-posts-list .mma-forumng-iconsize-correction ion-icon[item-start] {
    margin: 0;
}
.mma-forumng-posts-list .item ion-avatar img.mma-forumng-smaller-img {
    width: 35px;
    height: 35px;
}
.mma-forumng-posts-list .item ion-avatar[item-start] {
    min-width: 35px;
    min-height: 35px;
}
.mma-forumng-row-max .col.mma-forumng-col-unpad {
    padding: 0;
}
.mma-forumng-posts-list>.item-block>.item-inner>.input-wrapper>.label {
    margin: 0;
}
.mma-forumng-posts-list>.item-block {
    padding: 0;
}
.mma-forumng-posts-list-wrapper .mma-forumng-posts-list>.item-block>.item-inner {
    padding: 0;
}
.mma-forumng-posts-list .mma-forumng-indented {
    padding-left: 16px;
}
