{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forumng/mobile_discussions_page

    Mobile view of the forumng discussions listing page (forumng/view.php).

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * forum object Containing fully formed html elements like introduction
    * hasgroups bool If true show groups selector
    * groups array of options for a group selector
    * groupsmenu string HTML for display of current group, only displayed if hasgroups is false
    * hasdiscussions bool Whether there are any discussions yet - note discussions are populated by Angular from otherdata
    * cmid int $cm->id
    * courseid int $course->id
    * canstartdiscussion bool Whether the user has permission to start a discussion, so can see the FAB

    Example context (json):
    {
        'forum': {
            'id': 789,
            'introduction': '<p>A first test forum</p>',
            'intro': 'Other forum description',
        },
        'hasgroups': true,
        'groups': [
            {
                'groupid': 321,
                'groupname': 'Group A'
            }
        ]
        'groupsmenu': '<div class="groupselector">Separate groups: Group A</div>',
        'hasdiscussions': true,
        'cmid': 123,
        'courseid': 456,
        'canstartdiscussion': true
    }

}}
{{=<% %>=}}
<div><!-- Div vs. ion-content - see comments later. -->
    <core-course-module-description description="<% forum.introduction %>" component="mod_forumng" componentId="<% cmid %>"></core-course-module-description>
    <%# hasgroups %>
    <!-- Group selector -->
    <ion-list>
        <ion-item>
            <ion-label>{{ 'plugin.mod_forumng.group' | translate }}</ion-label>
            <ion-select [(ngModel)]="CONTENT_OTHERDATA.defaultgroup" interface="popover" (ionChange)="updateContent({cmid: <% cmid %>, courseid: <% courseid %>, group: $event})">
                <%# groups %>
                <ion-option value="<% groupid %>"><% groupname %></ion-option>
                <%/ groups %>
            </ion-select>
        </ion-item>
    </ion-list>
    <%/ hasgroups %>
    <%^ hasgroups %>
        <!-- Fixed group or no groups -->
        <%# groupsmenu %>
        <ion-list>
            <ion-item>
            <%{ groupsmenu }%>
            </ion-item>
        </ion-list>
        <%/ groupsmenu %>
    <%/ hasgroups %>
    <%# hasdiscussions %>
    <ion-list class="mma-forumng-discussion-list" no-lines>
        <ion-list-header class="mma-forumng-header">{{ 'plugin.mod_forumng.discussions' | translate }}</ion-list-header>
        <ion-item *ngFor="let discussion of CONTENT_OTHERDATA.discussions">
            <ion-card core-site-plugins-new-content component="mod_forumng" method="posts_view" [args]="{cmid: <% cmid %>, discussionid: discussion.id}" title="Discussion" class="mma-forumng-discussion-card">
                <ion-card-header text-wrap>
                    <span *ngIf="discussion.classes" class="{{ discussion.classes }}">
                        <!-- Add icon(s) as needed indicating sticky discussions etc. -->
                        <span *ngFor="let decorator of discussion.decorators">
                            <img *ngIf="decorator.src; else elseBlock" [src]="decorator.src" alt="{{ decorator.alt }}" title="{{ decorator.alt }}" class="mma-forumng-image-correction">
                            <ng-template #elseBlock><span class='accesshide'>{{ decorator.alt }}</span></ng-template>
                        </span>
                    </span>
                    <span>{{ discussion.subject }}</span>
                    <span *ngIf="discussion.unread > 0">
                        <ion-badge round>{{ discussion.unread }}<span class='accesshide'>{{ discussion.unreadpostsalt }}</span></ion-badge>
                    </span>
                </ion-card-header>
                <ion-card-content>
                    {{ discussion.startedby }} <span class="mma-forumng-gray-text">{{ discussion.starteddate }}</span>
                    <ion-grid>
                        <ion-row justify-content-between>
                            <ion-col col-auto>
                                <div class="mma-forumng-iconsize-correction"><ion-icon name="chatboxes" item-start></ion-icon> {{ discussion.noofposts }}</div>
                            </ion-col>
                            <ion-col col-auto>
                                <div><span class="mma-forumng-gray-text">{{ discussion.lastpost }}</span></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMoreDiscussions($event)" class="mma-forumng-infinite-scroll">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <%/ hasdiscussions %>
    <%^ hasdiscussions %>
    <p>{{ 'plugin.mod_forumng.nodiscussions' | translate }}</p>
    <%/ hasdiscussions %>
    <%# canstartdiscussion %>
    <!-- FAB should be placed within an ion-content to make it a really fixed position item, but that affects infinite scroll
            and PTR and adds a large border at the bottom - very poor in landscape view -->
    <ion-fab right bottom *ngIf="!CONTENT_OTHERDATA.hasGroups || (CONTENT_OTHERDATA.hasGroups && CONTENT_OTHERDATA.defaultgroup)">
        <button ion-fab core-site-plugins-new-content color="primary" title="{{ 'plugin.mod_forumng.addanewdiscussion' | translate }}" component="mod_forumng" method="add_discussion" [args]="{cmid: <% cmid %>, discussionid: 0, groupid: CONTENT_OTHERDATA.defaultgroup}" [disabled]="!isOnline()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
    <%/ canstartdiscussion %>
</div>
