{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forumng/mobile_posts_page

    Mobile view of the forumng posts listing page (forumng/discuss.php).

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * a limited number of posts are loaded initially, more dynamically via otherdata
        postid int
        subject string
        startedby string
        startedbyurl string
        message string
        starteddate string
        attachments array
        isimportant bool
        isflagged bool
        isunread bool //currently not used.
        canmarkread bool
        isexpanded bool
        replyto int
        canreply bool
        canedit bool
        candelete bool

    Example context (json):
    {
        postid: 444,
        subject: 'Discussion subject title',
        startedby: 'A student',
        startedbyurl: 'http://example.com/pictureurl',
        message: 'Root post message as html',
        starteddate: '10/5/2018',
        attachments: [
            {url: 'http://example.com/pictureurl', name: 'picturefilename.jpg'}
        ],
        isimportant: false,
        isflagged: false,
        isunread: false,
        canmarkread: false,
        isexpanded: false,
        shortendisplay: Shorten text ...,
        replyto: 321,
        canreply: 1,
        canedit: 1,
        candelete: 1,
        postasstring: Post as?,
        hasoption => 1,
        options => [
            {key: 0, value: Standard Post}
            {key: 1, value: Identify self as moderator (name displayed)}
        ],
        maxsize => -1,
        cmid: 123,
        noofreplies: 3,
        hasreplies: true
    }

}}
{{=<% %>=}}
<%# error %>
<core-format-text text="<% error %>" component="mod_forumng" text-wrap></core-format-text>
<%/ error %>
<%^ error %>
<core-navbar-buttons>
    <core-context-menu>
        <core-context-menu-item [priority]="900" [content]="'core.openinbrowser' | translate" [href]="CONTENT_OTHERDATA.discussionurl" [iconAction]="'open'" autoLogin="no"></core-context-menu-item>
        <core-context-menu-item [priority]="800" [content]="'core.refresh' | translate" (action)="doRefresh()" [iconAction]="CONTENT_OTHERDATA.refreshicon"></core-context-menu-item>
        <core-context-menu-item *ngIf="CONTENT_OTHERDATA.canlock" [priority]="850" [content]="'plugin.mod_forumng.lock' | translate"
                                (action)="lock()" [iconAction]="CONTENT_OTHERDATA.lock ? 'radio-button-on' : 'radio-button-off'">
        </core-context-menu-item>
        <core-context-menu-item *ngIf="CONTENT_OTHERDATA.manualmark" [content]="'plugin.mod_forumng.markallasread' | translate" (action)="mark_all_post_read()" [iconAction]="'radio-button-off'"></core-context-menu-item>
    </core-context-menu>
</core-navbar-buttons>
<div class="mma-forumng-posts-list-wrapper">
    <ion-item class="mma-forumng-expandall" no-lines>
        <%# hasreplies %>
        <div class="button-align-right">
        <button outline *ngIf="(!CONTENT_OTHERDATA.iscollapseall && !CONTENT_OTHERDATA.isexpandall) || CONTENT_OTHERDATA.iscollapseall" ion-button (click)="expand_all_posts()">
            <core-format-text [text]="CONTENT_OTHERDATA.expandall"></core-format-text>
            <ion-icon name="arrow-down" ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
        </button>
        <button outline *ngIf="(!CONTENT_OTHERDATA.iscollapseall && !CONTENT_OTHERDATA.isexpandall) || CONTENT_OTHERDATA.isexpandall" ion-button (click)="collapse_all_posts()">
            <core-format-text [text]="CONTENT_OTHERDATA.collapseallpost"></core-format-text>
            <ion-icon name="arrow-up" ios="ios-arrow-up" md="ios-arrow-up"></ion-icon>
        </button>
        </div>
        <%/ hasreplies %>
    </ion-item>
    <ion-item *ngIf="CONTENT_OTHERDATA.islock" [id]="CONTENT_OTHERDATA.lockpost.postid" class="mma-forumng-p1 mma-forumng-lockmessage" no-lines>
        <%! Note no ion-card-header as it adds padding so mis-aligns the user image with the contents below. %>
        <ion-item class="mma-forumng-post-info">
            <ion-avatar item-start large *ngIf="CONTENT_OTHERDATA.lockpost.hasanon">
                <img core-external-content [src]="CONTENT_OTHERDATA.lockpost.startedbyurl">
            </ion-avatar>
            <core-format-text class="mma-forumng-startedby" [text]="CONTENT_OTHERDATA.lockpost.startedby"></core-format-text>
            <core-format-text [text]="CONTENT_OTHERDATA.lockpost.starteddate"></core-format-text>
        </ion-item>
        <ion-item class="mma-forumng-posts">
            <core-format-text *ngIf="CONTENT_OTHERDATA.lockpost.createdbymoderator.length != 0"
                              class="mma-forumng-posts-anon" [text]="CONTENT_OTHERDATA.lockpost.createdbymoderator" component="mod_forumng"
                              componentId="<% cmid %>" text-wrap>
            </core-format-text>
            <core-format-text class="mma-forumng-posts-subject" [text]="CONTENT_OTHERDATA.lockpost.subject" component="mod_forumng"
                              componentId="<% cmid %>" text-wrap>
            </core-format-text>
            <core-format-text class="mma-forumng-posts-message" [text]="CONTENT_OTHERDATA.lockpost.message" component="mod_forumng"
                              componentId="<% cmid %>" text-wrap>
            </core-format-text>
            <ion-list class="mma-forumng-attachments" *ngFor="let attachments of CONTENT_OTHERDATA.lockpost.attachments">
                <%! Note this bit needs to be done with mustache templating. %>
                <core-file [file]="{fileurl: attachments.url, filename: attachments.name}" component="mod_forumng"
                           componentId="<% cmid %>">
                </core-file>
            </ion-list>
        </ion-item>
    </ion-item>
    <ion-item [id]="<% postid %>" class="mma-forumng-p1 <%{ isunread }%> <%{ importantclass }%>" no-lines>
        <%! Note no ion-card-header as it adds padding so mis-aligns the user image with the contents below. %>
        <ion-item class="mma-forumng-post-info">
            <ion-avatar item-start large *ngIf="<%{ hasanon }%>">
                <img core-external-content src="<% startedbyurl %>">
            </ion-avatar>
            <core-format-text class="mma-forumng-startedby" text="<% startedby %>" text-wrap></core-format-text>
            <core-format-text class="mma-forumng-startedate" text="<% starteddate %>" text-wrap></core-format-text>
            <core-format-text class="mma-forumng-edit" text="<% historyedit %>" text-wrap></core-format-text>
            <div class="forumng-iconsize">
                <%# isflagged %>
                <div class="mma-forumng-iconsize-correction">
                    <ion-icon name="flag" class="mma-forumng-no-margin"></ion-icon>
                </div>
                <%/ isflagged %>
                <div class="mma-forumng-iconsize-correction">
                    <ion-icon name="chatboxes" item-start></ion-icon>
                    <% noofreplies %>
                </div>
            </div>
            <%# isunread %>
            <div class="unread-badge">
                <core-format-text [text]="'plugin.mod_forumng.unread' | translate "></core-format-text>
            </div>
            <%/ isunread %>
        </ion-item>
        <ion-item class="mma-forumng-posts <%{ createdbymoderatorclass }%>">
            <%# createdbymoderator %>
            <core-format-text class="mma-forumng-posts-anon" text="<%{ createdbymoderator }%>" component="mod_forumng"
                              componentId="<% cmid %>" text-wrap>
            </core-format-text>
            <%/ createdbymoderator %>
            <core-format-text class="mma-forumng-posts-message" text="<% message %>" component="mod_forumng"
                              componentId="<% cmid %>" text-wrap>
            </core-format-text>
            <%# attachments %>
            <ion-list class="mma-forumng-attachments">
                <%! Note this bit needs to be done with mustache templating. %>
                <core-file [file]="{fileurl: '<% url %>', filename: '<% name %>'}" component="mod_forumng"
                           componentId="<% cmid %>"></core-file>
            </ion-list>
            <%/ attachments %>
            <ion-grid class="mma-forumng-commands-buttons">
                <ion-row justify-content-start align-items-center class="mma-forumng-row-max">
                    <ion-col col-auto *ngIf="<%{ canreply }%>">
                        <button  ion-button (click)="showReply(<% postid %>)" [disabled]="!isOnline() || CONTENT_OTHERDATA.currentEditedPostId || CONTENT_OTHERDATA.currentReplyToId"
                                 title="{{ 'plugin.mod_forumng.postreply' | translate }}" outline>
                            <core-format-text text="<%{ replyto }%>"></core-format-text>
                        </button>
                    </ion-col>
                    <ion-col col-auto *ngIf="<%{ canedit }%>">
                        <button ion-button (click)="showEdit({ postid: <% postid %>, isimportant: <% isimportant %>, postas: <% postas %>,
                         attachmentsforform: <% attachmentsforform %>, timelimit: <% limittime %>, showfrom: '<% showfrom %>', sticky: <% sticky %>})"
                                title="<%{ editpoststring }%>" [disabled]="!isOnline() || CONTENT_OTHERDATA.currentEditedPostId || CONTENT_OTHERDATA.currentReplyToId" outline>
                            <core-format-text text="<%{ edit }%>"></core-format-text>
                        </button>
                    </ion-col>
                    <ion-col col-auto *ngIf="<%{ candelete }%>">
                        <button ion-button (click)="showDelete(<% postid %>)"
                                title="<%{ deletepoststring }%>" [disabled]="!isOnline() || CONTENT_OTHERDATA.currentEditedPostId || CONTENT_OTHERDATA.currentReplyToId">
                            <core-format-text text="<%{ delete }%>"></core-format-text>
                        </button>
                    </ion-col>
                    <ion-col col-auto *ngIf="<%{ canundelete }%>">
                        <button ion-button (click)="showUnDelete(<% postid %>)"
                                title="<%{ undeletepoststring }%>" [disabled]="!isOnline() || CONTENT_OTHERDATA.currentEditedPostId || CONTENT_OTHERDATA.currentReplyToId">
                            <core-format-text text="<%{ undelete }%>"></core-format-text>
                        </button>
                    </ion-col>
                    <ion-col col-auto *ngIf="<%{ canmarkread }%>">
                        <button core-site-plugins-call-ws name="mod_forumng_mark_read"
                                [params]="{discussion: 0, post: <% postid %>}" successMessage refreshOnSuccess="true"
                                ion-button outline>
                            {{ 'plugin.mod_forumng.markpostread' | translate }}
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-item>
    <ion-list id="mma-forumng-form" *ngIf="CONTENT_OTHERDATA.lock == 1  ||  ((CONTENT_OTHERDATA.isReply == 1 || CONTENT_OTHERDATA.isEdit == 1) && (CONTENT_OTHERDATA.currentReplyToId == <% postid %> || CONTENT_OTHERDATA.currentEditedPostId == <% postid %>))">
        <%# limittime %>
        <ion-item class="time-limit" *ngIf="CONTENT_OTHERDATA.edittimeout && CONTENT_OTHERDATA.isEdit" text-wrap>
            <% editlimitmsg %>
        </ion-item>
        <%/ limittime %>
        <ion-item class="bold-text red-text" text-wrap *ngIf="!CONTENT_OTHERDATA.edittimeout && CONTENT_OTHERDATA.isEdit">
            <% edittimeoutmsg %>
        </ion-item>
        <ion-item *ngIf="CONTENT_OTHERDATA.draftexists.length > 0" id="mma-forumng-draftexists-<% postid %>" class="mma-forumng-draftexists">
            <core-format-text [text]="CONTENT_OTHERDATA.draftexists" component="mod_forumng" componentId="<% cmid %>" text-wrap></core-format-text>
        </ion-item>
        <ion-item *ngIf="CONTENT_OTHERDATA.lock == 1" no-lines>
            <core-format-text class="mma-forumng-boldtitle" text="Lock discussion: <% subject %>"></core-format-text>
        </ion-item>
        <ion-item class="mma-forumng-label-subject" no-lines>
            <ion-label *ngIf="CONTENT_OTHERDATA.rootpostid == CONTENT_OTHERDATA.currentEditedPostId" stacked
                       class="mma-forumng-boldtitle mma-forumng-required-after">{{ 'plugin.mod_forumng.subject' | translate }}</ion-label>
            <ion-label *ngIf="!(CONTENT_OTHERDATA.rootpostid == CONTENT_OTHERDATA.currentEditedPostId)" stacked
                       class="mma-forumng-boldtitle">{{ 'plugin.mod_forumng.subject' | translate }}</ion-label>
            <ion-input type="text" *ngIf="CONTENT_OTHERDATA.rootpostid == CONTENT_OTHERDATA.currentEditedPostId" (ionChange)="onSubjectChange()" [placeholder]="'plugin.mod_forumng.requiredsubject' | translate" [(ngModel)]="subject"></ion-input>
            <ion-input type="text" *ngIf="!(CONTENT_OTHERDATA.rootpostid == CONTENT_OTHERDATA.currentEditedPostId)" (ionChange)="onSubjectChange()" [placeholder]="'plugin.mod_forumng.optionalsubject' | translate" [(ngModel)]="subject"></ion-input>
        </ion-item>
        <ion-item class="mma-forumng-label-message">
            <ion-label stacked class="mma-forumng-boldtitle mma-forumng-required-after">{{ 'plugin.mod_forumng.message' | translate }}</ion-label>
            <core-rich-text-editor item-content (contentChanged)="onMessageChange($event)" [control]="PostControl" class="forumng-reply-message"
                                   [placeholder]="'plugin.mod_forumng.message' | translate" [name]="msg" [(ngModel)]="message" text-wrap></core-rich-text-editor>
        </ion-item>
        <ion-item class="mma-forumng-label-attachment" no-lines >
            <ion-label class="mma-forumng-boldtitle mma-forumng-no-margin-bottom">{{ 'plugin.mod_forumng.attachments' | translate }}</ion-label>
        </ion-item>
        <core-attachments class="mma-forumng-attachments" [files]="CONTENT_OTHERDATA.files" [maxSize]="<% maxsize %>"
                          [component]="mod_forumng" [componentId]="<% cmid %>" [acceptedTypes]="application/octet-stream"
                          [allowOffline]="false"></core-attachments>
        <%# canmanage %>
        <ion-item *ngIf="CONTENT_OTHERDATA.isEdit" class="mma-forumng-label-sticky">
            <ion-label class="mma-forumng-boldtitle" text-wrap><%{ displaysticky }%></ion-label>
            <ion-toggle (ionChange)="onStickyChange()" id="mma-forumng-show-sticky" [(ngModel)]="CONTENT_OTHERDATA.showsticky"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="CONTENT_OTHERDATA.isEdit" text-wrap class="mma-forumng-label-date">
            <ion-label class="mma-forumng-boldtitle" text-wrap><%{ displayperiod }%></ion-label>
            <ion-datetime [max]="CONTENT_OTHERDATA.maxyear" (ionChange)="onDateChange()" [placeholder]="'core.date' | translate" [displayFormat]="dateFormat" [(ngModel)]="CONTENT_OTHERDATA.showfrom"></ion-datetime>
        </ion-item>
        <%/ canmanage %>
        <%# cansetimportant %>
        <ion-item *ngIf="CONTENT_OTHERDATA.isReply" class="mma-forumng-label-important">
            <ion-label class="mma-forumng-boldtitle" text-wrap><%{ displayoption }%></ion-label>
            <ion-toggle (ionChange)="onImportantChange()" id="mma-forumng-show-important" [(ngModel)]="CONTENT_OTHERDATA.important"></ion-toggle>
        </ion-item>
        <%/ cansetimportant %>
        <%# hasoption %>
        <ion-item text-wrap class="mma-forumng-label-postas">
            <ion-label class="mma-forumng-boldtitle" text-wrap><%{ postasstring }%></ion-label>
            <ion-select (ionChange)="PostAsChange()" [(ngModel)]="CONTENT_OTHERDATA.postas" interface="action-sheet" text-wrap>
                <%# options %>
                <ion-option value="<% key %>">
                    <% value %>
                </ion-option>
                <%/ options %>
            </ion-select>
        </ion-item>
        <%/ hasoption %>
        <ion-item class="mma-forumng-group-button" no-lines>
            <button *ngIf="!CONTENT_OTHERDATA.lock && !CONTENT_OTHERDATA.isEdit" class="mma-forumng-reply-button" ion-button (click)="edit()"
                    [disabled]="message == null || message == '' || !isOnline() || CONTENT_OTHERDATA.disable" outline>
                {{ 'plugin.mod_forumng.postreply' | translate }}
            </button>
            <button *ngIf="!CONTENT_OTHERDATA.lock && CONTENT_OTHERDATA.isEdit" class="mma-forumng-reply-button" ion-button (click)="edit()"
                    [disabled]="message == null || message == '' || !isOnline() || CONTENT_OTHERDATA.disable" outline>
                {{ 'plugin.mod_forumng.editpostmobile' | translate }}
            </button>
            <button *ngIf="CONTENT_OTHERDATA.lock == 1" class="mma-forumng-lock-button" ion-button (click)="lock_discussion()"
                    [disabled]="message == null || message == '' || !isOnline() || CONTENT_OTHERDATA.disable" outline>
                {{ 'plugin.mod_forumng.lockdiscussion' | translate }}
            </button>
            <button ion-button (click)="cancel()" outline>{{ 'core.cancel' | translate }}</button>
            <button *ngIf="!CONTENT_OTHERDATA.lock && !CONTENT_OTHERDATA.isEdit" class="mma-forumng-add-draft-button" ion-button (click)="addDraft()"
                    [disabled]="message == null || message == '' || !isOnline()" outline>
                {{ 'plugin.mod_forumng.savedraft' | translate }}
            </button>
        </ion-item>
        <ion-item class="mma-forumng-label-required">
            <ion-label class="mma-forumng-boldtitle mma-forumng-required-before">
                {{ 'plugin.mod_forumng.required' | translate }}</ion-label>
        </ion-item>
    </ion-list>
    <%# hasreplies %>
    <ion-list class="mma-forumng-posts-list">
        <ion-item *ngFor="let reply of CONTENT_OTHERDATA.replies" [id]="reply.postid"
                  class="mma-forumng-post-reply" color="light">
            <div *ngIf="!reply.hidepost" class="{{reply.isunread}} {{reply.importantclass}} {{reply.createdbymoderatorclass}} {{ reply.isdeleted ? ' deleted-post':'' }}" no-lines>
                <div *ngIf="reply.isimportant" class="important-badge">
                    <core-format-text [text]="'plugin.mod_forumng.important' | translate "></core-format-text>
                </div>
                <ion-item class="mma-forumng-post-info" *ngIf="!reply.isdeleted || (reply.showdeletemessage && reply.isdeleted) || (!reply.hidedeleteionformation && reply.isdeleted)">
                    <ion-avatar item-start large *ngIf="reply.showavatar">
                        <img core-external-content [src]="reply.startedbyurl">
                    </ion-avatar>
                    <core-format-text class="mma-forumng-startedby" text="{{ reply.startedby }}" text-wrap></core-format-text>
                    <core-format-text *ngIf="!reply.hidedeleteionformation" class="mma-forumng-startedate" text="{{ reply.starteddate }}" text-wrap></core-format-text>
                    <core-format-text *ngIf="reply.showedithistory" class="mma-forumng-edit" text="{{ reply.historyedit }}" text-wrap></core-format-text>
                    <div *ngIf="reply.isflagged" class="mma-forumng-iconsize-correction">
                        <ion-icon name="flag"></ion-icon>
                    </div>
                    <div *ngIf="!reply.isexpanded" item-end class="mma-forumng-post-reply-expandall">
                        <ion-icon *ngIf="!(reply.hidedeleteionformation && reply.showdeletemessage)" name="arrow-down" ios="ios-arrow-down" md="ios-arrow-down" (click)="reply.isexpanded = !reply.isexpanded"></ion-icon>
                    </div>
                    <div *ngIf="reply.isexpanded" item-end class="mma-forumng-post-reply-expandall">
                        <ion-icon *ngIf="!(reply.hidedeleteionformation && reply.showdeletemessage)" name="arrow-up" ios="ios-arrow-up" md="ios-arrow-up" (click)="reply.isexpanded = !reply.isexpanded"></ion-icon>
                    </div>
                    <div *ngIf="reply.isunread" class="unread-badge">
                        <core-format-text [text]="'plugin.mod_forumng.unread' | translate "></core-format-text>
                    </div>
                </ion-item>
                <ion-item *ngIf="!reply.hidedeleteionformation" class="mma-forumng-posts">
                    <core-format-text *ngIf="reply.createdbymoderator.length != 0" class="mma-forumng-posts-anon" [text]="reply.createdbymoderator"
                                      component="mod_forumng" componentId="<% cmid %>" text-wrap>
                    </core-format-text>
                    <div *ngIf="!reply.isexpanded" class="collapse-post">
                        <core-format-text [text]="reply.shortendisplay" component="mod_forumng"
                                          componentId="<% cmid %>" class="mma-forumng-posts-message {{ reply.isdeleted ? ' deleted-post':'' }}" text-wrap>
                        </core-format-text>
                        <div class="custom-show-more">
                            <core-format-text (click)="reply.isexpanded = !reply.isexpanded" [text]=" 'core.showmore' | translate "></core-format-text>
                        </div>
                    </div>
                    <core-format-text *ngIf="reply.isexpanded && reply.deletemessage" [text]="reply.deletemessage" component="mod_forumng"
                                      componentId="<% cmid %>" class="mma-forumng-posts-message mma-forumng-posts-delete-info" text-wrap>
                    </core-format-text>
                    <core-format-text *ngIf="reply.isexpanded" class="mma-forumng-posts-subject" [text]="reply.subject"
                                      component="mod_forumng" componentId="<% cmid %>" text-wrap>
                    </core-format-text>
                    <core-format-text *ngIf="reply.isexpanded" [text]="reply.message" component="mod_forumng"
                                      componentId="<% cmid %>" class="mma-forumng-posts-message" text-wrap>
                    </core-format-text>

                    <div *ngIf="reply.isexpanded">
                        <ion-list class="mma-forumng-attachments" *ngFor="let attachment of reply.attachments">
                            <core-file [file]="{fileurl: attachment.url, filename: attachment.name}"
                                       component="mod_forumng"
                                       componentId="<% cmid %>">
                            </core-file>
                        </ion-list>
                        <ion-grid *ngIf="reply.isexpanded" class="mma-forumng-commands-buttons">
                            <ion-row justify-content-start align-items-center class="mma-forumng-row-max">
                                <ion-col col-auto *ngIf="reply.canreply">
                                    <button ion-button (click)="showReply(reply.postid)" [disabled]="!isOnline() || CONTENT_OTHERDATA.currentEditedPostId || CONTENT_OTHERDATA.currentReplyToId"
                                            title="{{ 'plugin.mod_forumng.postreply' | translate }}" outline>
                                        <core-format-text [text]="reply.replyto"></core-format-text>
                                    </button>
                                </ion-col>
                                <ion-col col-auto *ngIf="reply.canedit">
                                    <button ion-button (click)="showEdit({ postid: reply.postid, subject: reply.subject, isimportant: reply.isimportant, postas: reply.postas, attachmentsforform: reply.attachmentsforform, timelimit: reply.limittime })"
                                            title="{{ reply.editpoststring }}" [disabled]="!isOnline() || CONTENT_OTHERDATA.currentEditedPostId || CONTENT_OTHERDATA.currentReplyToId" outline>
                                        <core-format-text [text]="reply.edit"></core-format-text>
                                    </button>
                                </ion-col>
                                <ion-col col-auto *ngIf="reply.candelete">
                                    <button ion-button (click)="showDelete(reply.postid)"
                                            title="{{ reply.deletepoststring }}" [disabled]="!isOnline() || CONTENT_OTHERDATA.currentEditedPostId || CONTENT_OTHERDATA.currentReplyToId" outline>
                                        <core-format-text [text]="reply.delete"></core-format-text>
                                    </button>
                                </ion-col>
                                <ion-col col-auto *ngIf="reply.canundelete">
                                    <button ion-button (click)="showUnDelete(reply.postid)"
                                            title="{{reply.undeletepoststring }}" [disabled]="!isOnline() || CONTENT_OTHERDATA.currentEditedPostId || CONTENT_OTHERDATA.currentReplyToId" outline>
                                        <core-format-text [text]="reply.undelete"></core-format-text>
                                    </button>
                                </ion-col>
                                <ion-col col-auto *ngIf="reply.canmarkread">
                                    <button core-site-plugins-call-ws
                                            name="mod_forumng_mark_read"
                                            [params]="{discussion: 0, post: reply.postid}" successMessage
                                            refreshOnSuccess="true" ion-button outline>
                                        {{ 'plugin.mod_forumng.markpostread' | translate }}
                                    </button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </ion-item>
                <ion-item *ngIf="reply.hidedeleteionformation && reply.showdeletemessage">
                    <core-format-text [text]="reply.shortendisplay" component="mod_forumng"
                                      componentId="<% cmid %>" class="mma-forumng-posts-message {{ reply.isdeleted ? ' deleted-post':'' }}" text-wrap>
                    </core-format-text>
                </ion-item>
            </div>
            <ion-list class="mma-subreply-form" *ngIf="(CONTENT_OTHERDATA.isReply == 1 || CONTENT_OTHERDATA.isEdit == 1) && (CONTENT_OTHERDATA.currentReplyToId == reply.postid || CONTENT_OTHERDATA.currentEditedPostId == reply.postid)">
                <ion-item [id]="reply.postid" class="time-limit" *ngIf="reply.limittime && CONTENT_OTHERDATA.edittimeout && CONTENT_OTHERDATA.isEdit" text-wrap>
                    {{ reply.editlimitmsg }}
                </ion-item>
                <ion-item class="bold-text red-text" text-wrap *ngIf="!CONTENT_OTHERDATA.edittimeout && CONTENT_OTHERDATA.isEdit">
                    <% edittimeoutmsg %>
                </ion-item>
                <ion-item *ngIf="CONTENT_OTHERDATA.draftexists.length > 0" id="mma-forumng-draftexists-{{reply.postid}}" class="mma-forumng-draftexists">
                    <core-format-text [text]="CONTENT_OTHERDATA.draftexists" component="mod_forumng" componentId="<% cmid %>" text-wrap></core-format-text>
                </ion-item>
                <ion-item class="mma-forumng-label-subject" no-lines>
                    <ion-label stacked class="mma-forumng-boldtitle">{{ 'plugin.mod_forumng.subject' | translate }}</ion-label>
                    <ion-input type="text" (ionChange)="onSubjectChange()" [placeholder]="'plugin.mod_forumng.optionalsubject' | translate" [(ngModel)]="subject"></ion-input>
                </ion-item>
                <ion-item class="mma-forumng-label-message">
                    <ion-label stacked class="mma-forumng-boldtitle mma-forumng-required-after">{{ 'plugin.mod_forumng.message' | translate }}</ion-label>
                    <core-rich-text-editor item-content (contentChanged)="onMessageChange($event)" [control]="PostControl" class="forumng-reply-message"
                                           [placeholder]="'plugin.mod_forumng.message' | translate" [name]="msg" [(ngModel)]="message" text-wrap></core-rich-text-editor>
                </ion-item>
                <ion-item class="mma-forumng-label-attachment" no-lines>
                    <ion-label class="mma-forumng-boldtitle mma-forumng-no-margin-bottom">{{ 'plugin.mod_forumng.attachments' | translate }}</ion-label>
                </ion-item>
                <core-attachments class="mma-forumng-attachments" [files]="CONTENT_OTHERDATA.files" [maxSize]="<% maxsize %>" [component]="mod_forumng" [componentId]="<% cmid %>" [acceptedTypes]="application/octet-stream" [allowOffline]="false"></core-attachments>
                <ion-item *ngIf="reply.cansetimportant" class="mma-forumng-label-important">
                    <ion-label class="mma-forumng-boldtitle" text-wrap>{{ reply.displayoption }}</ion-label>
                    <ion-toggle (ionChange)="onImportantChange()" id="mma-forumng-show-important" [(ngModel)]="CONTENT_OTHERDATA.important"></ion-toggle>
                </ion-item>
                <ion-item  class="mod-forumng-subreply-option mma-forumng-label-postas" text-wrap *ngIf="reply.hasoption">
                    <ion-label class="mma-forumng-boldtitle" text-wrap>{{ reply.postasstring }}</ion-label>
                    <ion-select (ionChange)="PostAsChange()" [(ngModel)]="CONTENT_OTHERDATA.postas" interface="action-sheet" text-wrap>
                        <ion-option *ngFor="let option of reply.options" [value]="option.key">
                            {{option.value}}
                        </ion-option>
                    </ion-select>
                </ion-item>
                <ion-item class="mma-forumng-group-button" no-lines>
                    <button *ngIf="!CONTENT_OTHERDATA.isEdit" class="mma-forumng-reply-button" ion-button (click)="edit()"
                            [disabled]="message == null || message == '' || !isOnline() || CONTENT_OTHERDATA.disable" outline>
                        {{ 'plugin.mod_forumng.postreply' | translate }}
                    </button>
                    <button *ngIf="CONTENT_OTHERDATA.isEdit" class="mma-forumng-reply-button" ion-button (click)="edit()"
                            [disabled]="message == null || message == '' || !isOnline() || CONTENT_OTHERDATA.disable" outline>
                        {{ 'plugin.mod_forumng.editpostmobile' | translate }}
                    </button>
                    <button ion-button (click)="cancel()" outline>{{ 'core.cancel' | translate }}</button>
                    <button *ngIf="!CONTENT_OTHERDATA.isEdit" class="mma-forumng-add-draft-button" ion-button (click)="addDraft()"
                            [disabled]="message == null || message == '' || !isOnline()" outline>
                        {{ 'plugin.mod_forumng.savedraft' | translate }}
                    </button>
                </ion-item>
                <ion-item class="mma-forumng-label-required" no-lines>
                    <ion-label class="mma-forumng-boldtitle mma-forumng-required-before">
                        {{ 'plugin.mod_forumng.required' | translate }}</ion-label>
                </ion-item>
            </ion-list>
            <ion-item *ngIf="reply.subreplies.length > 0" class="sub-reply">
                <ion-list *ngFor="let subreply of reply.subreplies">
                    <ion-item *ngIf="!subreply.hidepost" [id]="subreply.postid" class="mma-forumng-align-items-normal" no-lines>
                        <div class="sub-reply-item {{subreply.isunread}} {{subreply.createdbymoderatorclass}} {{subreply.importantclass}} {{ subreply.isdeleted ? ' deleted-post':'' }}">
                            <div *ngIf="subreply.isimportant" class="important-badge">
                                <core-format-text [text]="'plugin.mod_forumng.important' | translate "></core-format-text>
                            </div>
                            <ion-item class="mma-forumng-post-info" *ngIf="!subreply.isdeleted || (subreply.showdeletemessage && subreply.isdeleted) || (!subreply.hidedeleteionformation && subreply.isdeleted)">
                                <ion-avatar item-start large *ngIf="subreply.showavatar">
                                    <img core-external-content [src]="subreply.startedbyurl">
                                </ion-avatar>
                                <core-format-text class="mma-forumng-startedby" text="{{ subreply.startedby }}" text-wrap></core-format-text>
                                <core-format-text *ngIf="!subreply.hidedeleteionformation" class="mma-forumng-startedate" text="{{ subreply.starteddate }}" text-wrap></core-format-text>
                                <core-format-text *ngIf="subreply.showedithistory" class="mma-forumng-edit" text="{{ subreply.historyedit }}" text-wrap></core-format-text>
                                <div *ngIf="subreply.isflagged" class="mma-forumng-iconsize-correction">
                                    <ion-icon name="flag"></ion-icon>
                                </div>
                                <div *ngIf="!subreply.isexpanded" item-end class="mma-forumng-post-subreply-expandall">
                                    <ion-icon *ngIf="!(subreply.hidedeleteionformation && subreply.showdeletemessage)" name="arrow-down" ios="ios-arrow-down" md="ios-arrow-down" (click)="subreply.isexpanded = !subreply.isexpanded"></ion-icon>
                                </div>
                                <div *ngIf="subreply.isexpanded" item-end class="mma-forumng-post-reply-expandall">
                                    <ion-icon *ngIf="!(subreply.hidedeleteionformation && subreply.showdeletemessage)" name="arrow-up" ios="ios-arrow-up" md="ios-arrow-up" (click)="subreply.isexpanded = !subreply.isexpanded"></ion-icon>
                                </div>
                                <div *ngIf="subreply.isunread" class="unread-badge">
                                    <core-format-text [text]="'plugin.mod_forumng.unread' | translate "></core-format-text>
                                </div>
                            </ion-item>
                            <ion-item class="mma-forumng-posts" *ngIf="!subreply.hidedeleteionformation">
                                <core-format-text *ngIf="subreply.createdbymoderator.length != 0" class="mma-forumng-posts-anon" [text]="subreply.createdbymoderator"
                                                  component="mod_forumng" componentId="<% cmid %>" text-wrap>
                                </core-format-text>
                                <div *ngIf="!subreply.isexpanded" class="collapse-post">
                                    <core-format-text [text]="subreply.shortendisplay" component="mod_forumng"
                                                      componentId="<% cmid %>" class="mma-forumng-posts-message {{ subreply.isdeleted ? ' deleted-post':'' }}" text-wrap>
                                    </core-format-text>
                                    <div class="custom-show-more">
                                        <core-format-text (click)="subreply.isexpanded = !subreply.isexpanded" [text]=" 'core.showmore' | translate "></core-format-text>
                                    </div>
                                </div>
                                <core-format-text *ngIf="subreply.isexpanded && subreply.deletemessage" [text]="subreply.deletemessage" component="mod_forumng"
                                                  componentId="<% cmid %>" class="mma-forumng-posts-message mma-forumng-posts-delete-info" text-wrap>
                                </core-format-text>
                                <core-format-text *ngIf="subreply.isexpanded" class="mma-forumng-posts-subject" [text]="subreply.subject"
                                                  component="mod_forumng" componentId="<% cmid %>" text-wrap>
                                </core-format-text>
                                <core-format-text *ngIf="subreply.isexpanded" [text]="subreply.message" component="mod_forumng"
                                                  componentId="<% cmid %>" class="mma-forumng-posts-message" text-wrap>
                                </core-format-text>
                                <div *ngIf="subreply.isexpanded">
                                <ion-list *ngFor="let attach of subreply.attachments"
                                          class="mma-forumng-attachments">
                                    <core-file [file]="{fileurl: attach.url, filename: attach.name}"
                                               component="mod_forumng"
                                               componentId="<% cmid %>"></core-file>
                                </ion-list>
                                </div>
                                <ion-grid *ngIf="subreply.isexpanded" class="mma-forumng-commands-buttons">
                                    <ion-row justify-content-start align-items-center class="mma-forumng-row-max">
                                        <ion-col col-auto *ngIf="subreply.canreply">
                                            <button ion-button (click)="showReply(subreply.postid)" [disabled]="!isOnline() || CONTENT_OTHERDATA.currentEditedPostId || CONTENT_OTHERDATA.currentReplyToId"
                                                    title="{{ 'plugin.mod_forumng.postreply' | translate }}" outline>
                                                <core-format-text [text]="subreply.replyto"></core-format-text>
                                            </button>
                                        </ion-col>
                                        <ion-col col-auto *ngIf="subreply.canedit">
                                            <button ion-button (click)="showEdit({ postid: subreply.postid, subject: subreply.subject, isimportant: subreply.isimportant, postas: subreply.postas, attachmentsforform: subreply.attachmentsforform,timelimit: subreply.limittime })"
                                                    title="{{ subreply.editpoststring }}" [disabled]="!isOnline() || CONTENT_OTHERDATA.currentEditedPostId || CONTENT_OTHERDATA.currentReplyToId" outline>
                                                <core-format-text [text]="subreply.edit"></core-format-text>
                                            </button>
                                        </ion-col>
                                        <ion-col col-auto *ngIf="subreply.candelete">
                                            <button ion-button (click)="showDelete(subreply.postid)"
                                                    title="{{ subreply.deletepoststring }}" [disabled]="!isOnline() || CONTENT_OTHERDATA.currentEditedPostId || CONTENT_OTHERDATA.currentReplyToId" outline>
                                                <core-format-text [text]="subreply.delete"></core-format-text>
                                            </button>
                                        </ion-col>
                                        <ion-col col-auto *ngIf="subreply.canundelete">
                                            <button ion-button (click)="showUnDelete(subreply.postid)"
                                                    title="{{subreply.undeletepoststring }}" [disabled]="!isOnline() || CONTENT_OTHERDATA.currentEditedPostId || CONTENT_OTHERDATA.currentReplyToId" outline>
                                                <core-format-text [text]="subreply.undelete"></core-format-text>
                                            </button>
                                        </ion-col>
                                        <ion-col col-auto *ngIf="subreply.canmarkread">
                                            <button core-site-plugins-call-ws
                                                    name="mod_forumng_mark_read"
                                                    [params]="{discussion: 0, post: subreply.postid}"
                                                    successMessage refreshOnSuccess="true" ion-button outline>
                                                {{ 'plugin.mod_forumng.markpostread' | translate }}
                                            </button>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-item>
                            <ion-item *ngIf="subreply.hidedeleteionformation && subreply.showdeletemessage">
                                <core-format-text [text]="subreply.shortendisplay" component="mod_forumng"
                                                  componentId="<% cmid %>" class="mma-forumng-posts-message {{ subreply.isdeleted ? ' deleted-post':'' }}" text-wrap>
                                </core-format-text>
                            </ion-item>
                        </div>
                    </ion-item>
                    <ion-list class="mma-subreply-form" *ngIf="(CONTENT_OTHERDATA.isReply == 1 || CONTENT_OTHERDATA.isEdit == 1) && (CONTENT_OTHERDATA.currentReplyToId == subreply.postid || CONTENT_OTHERDATA.currentEditedPostId == subreply.postid)">
                        <ion-item [id]="subreply.postid" class="time-limit" *ngIf="subreply.limittime && CONTENT_OTHERDATA.edittimeout && CONTENT_OTHERDATA.isEdit" text-wrap>
                            {{ subreply.editlimitmsg }}
                        </ion-item>
                        <ion-item class="bold-text red-text" text-wrap *ngIf="!CONTENT_OTHERDATA.edittimeout && CONTENT_OTHERDATA.isEdit">
                            <% edittimeoutmsg %>
                        </ion-item>
                        <ion-item *ngIf="CONTENT_OTHERDATA.draftexists.length > 0" id="mma-forumng-draftexists-{{subreply.postid}}" class="mma-forumng-draftexists">
                            <core-format-text [text]="CONTENT_OTHERDATA.draftexists" component="mod_forumng" componentId="<% cmid %>" text-wrap></core-format-text>
                        </ion-item>
                        <ion-item class="mma-forumng-label-subject" no-lines>
                            <ion-label stacked class="mma-forumng-boldtitle">{{ 'plugin.mod_forumng.subject' | translate }}</ion-label>
                            <ion-input type="text" (ionChange)="onSubjectChange()" [placeholder]="'plugin.mod_forumng.optionalsubject' | translate" [(ngModel)]="subject"></ion-input>
                        </ion-item>
                        <ion-item class="mma-forumng-label-message">
                            <ion-label stacked class="mma-forumng-boldtitle mma-forumng-required-after">{{ 'plugin.mod_forumng.message' | translate }}</ion-label>
                            <core-rich-text-editor item-content (contentChanged)="onMessageChange($event)" [control]="PostControl" class="forumng-reply-message"
                                                   [placeholder]="'plugin.mod_forumng.message' | translate" [name]="msg" [(ngModel)]="message" text-wrap></core-rich-text-editor>
                        </ion-item>
                        <ion-item class="mma-forumng-label-attachment" no-lines>
                            <ion-label class="mma-forumng-boldtitle mma-forumng-no-margin-bottom">{{ 'plugin.mod_forumng.attachments' | translate }}</ion-label>
                        </ion-item>
                        <core-attachments class="mma-forumng-attachments" [files]="CONTENT_OTHERDATA.files"
                                          [maxSize]="<% maxsize %>" [component]="mod_forumng" [componentId]="<% cmid %>"
                                          [acceptedTypes]="application/octet-stream" [allowOffline]="false"></core-attachments>
                        <ion-item *ngIf="subreply.cansetimportant" class="mma-forumng-label-important">
                            <ion-label text-wrap class="mma-forumng-boldtitle">{{ subreply.displayoption }}</ion-label>
                            <ion-toggle (ionChange)="onImportantChange()" id="mma-forumng-show-important" [(ngModel)]="CONTENT_OTHERDATA.important"></ion-toggle>
                        </ion-item>
                        <ion-item class="mod-forumng-subreply-option mma-forumng-label-postas" text-wrap *ngIf="subreply.hasoption">
                            <ion-label text-wrap class="mma-forumng-boldtitle">{{ subreply.postasstring }}</ion-label>
                            <ion-select (ionChange)="PostAsChange()" [(ngModel)]="CONTENT_OTHERDATA.postas" interface="action-sheet" text-wrap>
                                <ion-option *ngFor="let option of subreply.options" [value]="option.key">
                                    {{ option.value }}
                                </ion-option>
                            </ion-select>
                        </ion-item>
                        <ion-item class="mma-forumng-group-button" no-lines>
                            <button *ngIf="!CONTENT_OTHERDATA.isEdit" class="mma-forumng-reply-button" ion-button (click)="edit()"
                                    [disabled]="message == null || message == '' || !isOnline() || CONTENT_OTHERDATA.disable" outline>
                                {{ 'plugin.mod_forumng.postreply' | translate }}
                            </button>
                            <button *ngIf="CONTENT_OTHERDATA.isEdit" class="mma-forumng-reply-button" ion-button (click)="edit()"
                                    [disabled]="message == null || message == '' || !isOnline() || CONTENT_OTHERDATA.disable" outline>
                                {{ 'plugin.mod_forumng.editpostmobile' | translate }}
                            </button>
                            <button ion-button (click)="cancel()" outline>{{ 'core.cancel' | translate }}</button>
                            <button outline *ngIf="!CONTENT_OTHERDATA.isEdit" class="mma-forumng-add-draft-button" ion-button (click)="addDraft()"
                                    [disabled]="message == null || message == '' || !isOnline()">
                                {{ 'plugin.mod_forumng.savedraft' | translate }}
                            </button>
                        </ion-item>
                        <ion-item class="mma-forumng-label-required" no-lines>
                            <ion-label class="mma-forumng-boldtitle mma-forumng-required-before">
                                {{ 'plugin.mod_forumng.required' | translate }}</ion-label>
                        </ion-item>
                    </ion-list>
                </ion-list>
            </ion-item>
        </ion-item>
    </ion-list>
    <%/ hasreplies %>
</div>
<%/ error %>
