{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forumng/mobile_discussions_page

    Mobile view of the forumng discussions listing page (forumng/view.php).

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * forum object Containing fully formed html elements like introduction
    * hasgroups bool If true show groups selector
    * groups array of options for a group selector
    * groupsmenu string HTML for display of current group, only displayed if hasgroups is false
    * hasdiscussions bool Whether there are any discussions yet - note discussions are populated by Angular from otherdata
    * cmid int $cm->id
    * courseid int $course->id
    * canstartdiscussion bool Whether the user has permission to start a discussion, so can see the FAB

    Example context (json):
    {
        'forum': {
            'id': 789,
            'introduction': '<p>A first test forum</p>',
            'intro': 'Other forum description',
        },
        'hasgroups': true,
        'groups': [
            {
                'groupid': 321,
                'groupname': 'Group A'
            }
        ]
        'groupsmenu': '<div class="groupselector">Separate groups: Group A</div>',
        'hasdiscussions': true,
        'cmid': 123,
        'courseid': 456,
        'canstartdiscussion': true,
        'message': 'Student can read any post within this forum, but not submit their own posts since the forum closed on 11/03/20, 09:20.
                    You still have access to submit posts',
        'hasdrafts': true,
        'isipud': true / false,
    }

}}
{{=<% %>=}}
<%# error %>
<core-format-text text="<% error %>" component="mod_forumng" maxHeight="80" text-wrap></core-format-text>
<%/ error %>
<%^ error %>
<%^ isipud %>
<core-navbar-buttons>
    <core-context-menu>
            <core-context-menu-item [priority]="850" [content]="'plugin.mod_forumng.markallasread' | translate" (action)="MarkAllPostsRead()" [iconAction]="'radio-button-off'"></core-context-menu-item>
    </core-context-menu>
</core-navbar-buttons>
<%/ isipud %>
<div class="mma-forumng-discussion-listing"><!-- Div vs. ion-content - see comments later. -->
    <%# hasgroups %>
    <!-- Group selector -->
    <ion-list>
        <ion-item>
            <%# displaytext %>
            <ion-label><% grouplabel %>: <% displaytext %></ion-label>
            <%/ displaytext %>
            <%^ displaytext %>
            <ion-label><% grouplabel %></ion-label>
            <ion-select [(ngModel)]="CONTENT_OTHERDATA.defaultgroup" interface="popover"
                        (ionChange)="updateGroupContent({cmid: <% cmid %>, courseid: <% courseid %>, group: $event, isupdate: 1, 'sortid': CONTENT_OTHERDATA.selectedsort})">
                <%# groups %>
                <ion-option value="<% groupid %>"><% groupname %></ion-option>
                <%/ groups %>
            </ion-select>
            <%/ displaytext %>
        </ion-item>
    </ion-list>
    <%/ hasgroups %>
    <ion-list class="mma-forumng-discussion-list" no-lines>
        <ion-item>
            <core-format-text class="mma-forumng-discussion-introduction" text="<% forum.introduction %>"
                              component="mod_forumng" componentId="<% cmid %>" maxHeight="66"
                              text-wrap></core-format-text>
            <%# restrictionmessage %>
            <div class="mma-forumng-discussion-show-dates" text-wrap><% restrictionmessage %></div>
            <%/ restrictionmessage %>
            <%# postanonmessage %>
            <div class="mma-forumng-discussion-postanon" text-wrap>
                <% postanonmessage %>
            </div>
            <%/ postanonmessage %>
        </ion-item>
        <%# hasdrafts %>
        <ion-item>
            <ion-grid class="mma-forumng-drafts">
                <ion-row justify-content-start>
                    <ion-col>
                        <div class="mma-forumng-draft-heading">
                            <% decorators.heading %>
                            <img core-external-content src="<%decorators.url%>" title="<%decorators.alt%>" alt="<%decorators.alt%>"
                                 (click)="showMessage('<%decorators.content%>')"/>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-wrap>
                        <div>{{ 'plugin.mod_forumng.draft' | translate }}</div>
                    </ion-col>
                    <ion-col text-wrap>
                        <div>{{ 'plugin.mod_forumng.discussions' | translate }}</div>
                    </ion-col>
                    <ion-col text-wrap>
                        <div>{{ 'plugin.mod_forumng.date' | translate }}</div>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let draft of CONTENT_OTHERDATA.draftposts">
                    <ion-col text-wrap class="cell c0">
                        <div *ngIf="!draft.isdeletediscussion">
                            <core-format-text
                                    core-site-plugins-new-content component="mod_forumng" [method]="draft.isreply ? 'posts_view' : 'add_discussion'"
                                    [args]="{cmid: <% cmid %>, discussionid: draft.isreply ? draft.discussionid : 0,
                                      groupid: draft.groupid, draft: draft.id, replytoid: draft.replytoid}"
                                    title="Discussion" [preSets]="{getFromCache: 0}"
                                    [text]="draft.summary" component="mod_forumng" componentId="<% cmid %>" text-wrap>
                            </core-format-text>
                            <img core-external-content class="mma-forumng-delete-draft" core-site-plugins-new-content component="mod_forumng" method="draft_view"
                                 [args]="{draftid: draft.id}" [preSets]="{getFromCache: 0}" src="{{draft.deleteicon}}" alt="{{draft.deletealt}}"/>
                        </div>
                        <div *ngIf="draft.isdeletediscussion">
                            <core-format-text class="mma-forumng-delete-draft-with-delete-discussion"
                                    [text]="draft.summary" component="mod_forumng" componentId="<% cmid %>" text-wrap>
                            </core-format-text>
                            <img core-external-content class="mma-forumng-delete-draft" core-site-plugins-new-content component="mod_forumng" method="draft_view"
                                 [args]="{draftid: draft.id}" [preSets]="{getFromCache: 0}" src="{{draft.deleteicon}}" alt="{{draft.deletealt}}"/>
                        </div>
                    </ion-col>
                    <ion-col text-wrap class="cell c1">
                        <div>{{ draft.discussionsubject }}</div>
                    </ion-col>
                    <ion-col text-wrap class="cell c2 lastcol">
                        <div>{{ draft.date }}</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <%/ hasdrafts %>
        <ion-item class="mma-forumng-discussion-item no-lines">
            <%^ isipud %>
            <%# canstartdiscussion %>
            <button ion-button outline block id="mod_forumg_add_discussion" core-site-plugins-new-content color="primary"
                    title="{{ 'plugin.mod_forumng.addanewdiscussion' | translate }}" component="mod_forumng"
                    method="add_discussion"
                    [args]="{cmid: <% cmid %>, discussionid: 0, groupid: CONTENT_OTHERDATA.defaultgroup}"
                    [disabled]="!isOnline()">
                {{ 'plugin.mod_forumng.addanewdiscussion' | translate }}
            </button>
            <%/ canstartdiscussion %>
            <%/ isipud %>
        </ion-item>
        <%# hasdiscussions %>
        <ion-item class="mma-forumng-discussion-item mma-forumng-sort-discussion">
            <ion-label>{{ 'plugin.mod_forumng.sortdiscussions' | translate }}</ion-label>
            <core-context-menu class="mma-forumng-discussion-sort" item-end>
                <core-context-menu-item *ngFor="let option of CONTENT_OTHERDATA.sortoption" [priority]="900"
                                        [content]="option.title" autoLogin="no"
                                        (action)="updateSortContent({cmid: <% cmid %>, courseid: <% courseid %>, sortid: option.sortid, group: CONTENT_OTHERDATA.defaultgroup, isupdate: 1})"
                                        [iconAction]="CONTENT_OTHERDATA.selectedsort == option.sortid ? 'radio-button-on' : 'radio-button-off'">
                </core-context-menu-item>
            </core-context-menu>
        </ion-item>
        <%/ hasdiscussions %>
        <%# hasdiscussions %>
        <ion-item *ngFor="let discussion of CONTENT_OTHERDATA.discussions"
                  class="mma-forumng-discussion-item mma-forumng-discussion-short">
            <div item-content core-site-plugins-new-content component="mod_forumng" method="posts_view"
                 [args]="{cmid: <% cmid %>, discussionid: discussion.id, unread: discussion.unread}" title="{{ discussion.subject }}"
                 [preSets]="{getFromCache: 0}"
                 class="mma-forumng-discussion {{discussion.classes }}">
                <%# isipud %>
                    <a [href]="discussion.url" core-link class="forumng-ipud-discussion-hyperlink">
                        <div item-content>
                            <div class="mma-forumng-ipud-discussion-content">
                                <ion-label>
                                    <div class="mma-forumng-ipud-discussion-subject">
                                        <core-format-text [text]="discussion.subject" text-wrap></core-format-text>
                                    </div>
                                </ion-label>
                                <div class="mma-forumng-ipud-discussion-icons">
                                    <a [href]="discussion.url" core-link
                                       class="ipud-discussion-open-icon forumng-ipud-discussion-hyperlink"></a>
                                    <span *ngIf="discussion.unread > 0" class="mma-forumng-ipud-unread">
                                            <core-format-text [text]="discussion.unread"></core-format-text>
                                        <span class='accesshide'>{{ discussion.unreadpostsalt }}</span>
                                    </span>
                                    <span *ngIf="discussion.classes" class="{{ discussion.classes }}">
                                    <!-- Add icon(s) as needed indicating sticky discussions etc. -->
                                        <span *ngFor="let decorator of discussion.decorators">
                                            <img core-external-content *ngIf="decorator.src; else elseBlock" [src]="decorator.src"
                                                 alt="{{ decorator.alt }}"
                                                 title="{{ decorator.alt }}" class="mma-forumng-image-correction">
                                            <ng-template #elseBlock><span
                                                    class='accesshide'>{{ decorator.alt }}</span></ng-template>
                                        </span>
                                    </span>
                                </div>
                                <p class="mma-forumng-discussion-last-post">
                                    <core-format-text [text]="discussion.lastpost"></core-format-text>
                                </p>
                                <p class="mma-forumng-discussion-rootpost">
                                    <core-format-text class="mma-forumng-ipud-discussion-rootpost" [text]="discussion.rootpost" component="mod_forumng" componentId="<% cmid %>" maxHeight="50" text-wrap></core-format-text>
                                </p>
                            </div>
                        </div>
                    </a>
                <%/ isipud %>
                <%^ isipud %>
                    <div item-content>
                        <div class="mma-forumng-discussion-content">
                            <ion-label text-wrap>
                                <div class="mma-forumng-discussion-subject">
                                    <core-format-text [text]="discussion.subject"></core-format-text>
                                </div>
                                <p class="mma-forumng-discussion-last-post">
                                    <core-format-text [text]="discussion.lastpost"></core-format-text>
                                </p>
                            </ion-label>
                            <div class="mma-forumng-discussion-icons">
                                <span *ngIf="discussion.classes" class="{{ discussion.classes }}">
                                <!-- Add icon(s) as needed indicating sticky discussions etc. -->
                                    <span *ngFor="let decorator of discussion.decorators">
                                        <img core-external-content *ngIf="decorator.src; else elseBlock" [src]="decorator.src"
                                             alt="{{ decorator.alt }}"
                                             title="{{ decorator.alt }}" class="mma-forumng-image-correction">
                                        <ng-template #elseBlock><span
                                                class='accesshide'>{{ decorator.alt }}</span></ng-template>
                                    </span>
                                </span>
                                <span *ngIf="discussion.unread > 0" class="mma-forumng-read-only">
                                    <core-format-text [text]="discussion.unread"></core-format-text>
                                    <span class='accesshide'>{{ discussion.unreadpostsalt }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                <%/ isipud %>
            </div>
        </ion-item>
        <%/ hasdiscussions %>
        <%^ hasdiscussions %>
        <p class="mma-empty-discussion-string">{{ 'plugin.mod_forumng.nodiscussions' | translate }}</p>
        <%/ hasdiscussions %>
    </ion-list>
    <%# hasdiscussions %>
    <ion-infinite-scroll (ionInfinite)="loadMoreDiscussions($event)" class="mma-forumng-infinite-scroll">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <%/ hasdiscussions %>
    <%^ hasdiscussions %>
    <div class="mma-empty-discussion"></div>
    <%/ hasdiscussions %>
</div>
<%/ error %>
