{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forumng/mobile_posts_page

    Mobile view of the forumng posts listing page (forumng/discuss.php).

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * a limited number of posts are loaded initially, more dynamically via otherdata
        postid int
        subject string
        startedby string
        startedbyurl string
        message string
        starteddate string
        attachments array
        isimportant bool
        isflagged bool
        isunread bool //currently not used.
        canmarkread bool
        isexpanded bool
        replyto int
        canreply bool

    Example context (json):
    {
        postid: 444,
        subject: 'Discussion subject title',
        startedby: 'A student',
        startedbyurl: 'http://example.com/pictureurl',
        message: 'Root post message as html',
        starteddate: '10/5/2018',
        attachments: [
            {url: 'http://example.com/pictureurl', name: 'picturefilename.jpg'}
        ],
        isimportant: false,
        isflagged: false,
        isunread: false,
        canmarkread: false,
        isexpanded: false,
        replyto: 321,
        canreply: 1,
        cmid: 123,
        noofreplies: 3,
        hasreplies: true
    }

}}
{{=<% %>=}}
<div class="mma-forumng-posts-list-wrapper">
<ion-card [id]="<% postid %>">
    <%! Note no ion-card-header as it adds padding so mis-aligns the user image with the contents below. %>
    <ion-item>
        <ion-avatar item-start large>
            <img src="<% startedbyurl %>">
        </ion-avatar>
        <h2 text-wrap><% subject %></h2>
        <ion-row justify-content-between class="mma-forumng-row-max">
            <ion-col col-auto class="mma-forumng-col-unpad">
                <% startedby %>
            </ion-col>
            <ion-col col-auto class="mma-forumng-col-unpad">
                <span class="mma-forumng-gray-text mma-forumng-smaller-text"><% starteddate %></span>
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-card-content>
        <core-format-text text="<%{ message }%>" component="mod_forumng" componentId="<% cmid %>" maxHeight="80" text-wrap>
                </core-format-text>
        <ion-list>
            <%# attachments %>
            <%! Iterate through attachments using mustache templating here (done by ionic below as data is from otherdata there). %>
            <core-file [file]="{fileurl: '<% url %>', filename: '<% name %>'}" component="mod_forumng" componentId="<% cmid %>">
                    </core-file>
            <%/ attachments %>
        </ion-list>
        <ion-grid>
            <ion-row justify-content-between align-items-center class="mma-forumng-row-max">
                <ion-col col-auto class="mma-forumng-col-unpad">
                    <span *ngIf="<%{ isflagged }%>">
                        <ion-icon name="flag" item-start class="mma-forumng-no-margin"></ion-icon>
                    </span>
                    <span *ngIf="<%{ isimportant }%>" class="mma-forumng-iconsize-correction">
                        <ion-icon name="alert" item-start></ion-icon>
                    </span>
                </ion-col>
                <ion-col col-auto class="mma-forumng-col-unpad">
                    <div class="mma-forumng-gray-text"><ion-icon name="chatboxes" item-start></ion-icon> <% noofreplies %></div>
                </ion-col>
                <ion-col col-auto class="mma-forumng-col-unpad">
                    <button *ngIf="<%{ canmarkread }%>" core-site-plugins-call-ws name="mod_forumng_mark_read"
                            [params]="{discussion: 0, post: <% postid %>}" successMessage refreshOnSuccess="true"
                            ion-button color="secondary">
                        {{ 'plugin.mod_forumng.markpostread' | translate }}
                    </button>
                </ion-col>
                <ion-col col-auto class="mma-forumng-col-unpad">
                    <button *ngIf="<%{ canreply }%>" core-site-plugins-new-content ion-button color="secondary"
                            title="{{ 'plugin.mod_forumng.postreply' | translate }}" component="mod_forumng" method="reply"
                            [args]="{replyto: <% postid %>}" [disabled]="!isOnline()">
                        <core-format-text text="<%{ replyto }%>"></core-format-text>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>
<%# hasreplies %>
<ion-list class="mma-forumng-posts-list" no-lines>
    <ion-item *ngFor="let reply of CONTENT_OTHERDATA.replies">
        <ion-card [id]="reply.postid">
            <ion-item>
                <ion-avatar item-start large>
                    <img [src]="reply.startedbyurl">
                </ion-avatar>
                <h2 text-wrap>{{ reply.subject }}</h2>
                <ion-row justify-content-between class="mma-forumng-row-max">
                    <ion-col col-auto class="mma-forumng-col-unpad">
                        {{ reply.startedby }}
                    </ion-col>
                    <ion-col col-auto class="mma-forumng-col-unpad">
                        <span class="mma-forumng-gray-text mma-forumng-smaller-text">{{ reply.starteddate }}</span>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-card-content>
                <core-format-text [text]="reply.message" component="mod_forumng" componentId="<% cmid %>" maxHeight="60" text-wrap>
                        </core-format-text>
                <div *ngIf="reply.isexpanded">
                    <ion-list *ngFor="let attachment of reply.attachments">
                        <core-file [file]="{fileurl: attachment.url, filename: attachment.name}" component="mod_forumng"
                                componentId="<% cmid %>"></core-file>
                    </ion-list>
                    <ion-grid>
                        <ion-row justify-content-between align-items-center class="mma-forumng-row-max">
                            <ion-col col-auto class="mma-forumng-col-unpad">
                                <span *ngIf="reply.isflagged"><ion-icon name="flag" item-start></ion-icon></span>
                                <span *ngIf="reply.isimportant" class="mma-forumng-iconsize-correction">
                                    <ion-icon name="alert" item-start></ion-icon>
                                </span>
                            </ion-col>
                            <ion-col col-auto class="mma-forumng-col-unpad">
                                <div class="mma-forumng-gray-text">
                                    <ion-icon name="chatboxes" item-start></ion-icon> {{ reply.noofreplies }}
                                </div>
                            </ion-col>
                            <ion-col col-auto class="mma-forumng-col-unpad">
                                <button *ngIf="reply.canmarkread" core-site-plugins-call-ws name="mod_forumng_mark_read"
                                        [params]="{discussion: 0, post: reply.postid}" successMessage refreshOnSuccess="true"
                                        ion-button color="secondary">
                                    {{ 'plugin.mod_forumng.markpostread' | translate }}
                                </button>
                            </ion-col>
                            <ion-col col-auto class="mma-forumng-col-unpad">
                                <button *ngIf="reply.canreply" core-site-plugins-new-content ion-button color="secondary"
                                        title="{{ 'plugin.mod_forumng.postreply' | translate }}" component="mod_forumng"
                                        method="reply" [args]="{replyto: reply.postid}" [disabled]="!isOnline()">
                                    <core-format-text [text]="reply.replyto"></core-format-text>
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <ion-list *ngFor="let subreply of reply.subreplies">
                    <ion-item [id]="subreply.postid" class="mma-forumng-align-items-normal">
                        <ion-item>
                            <ion-avatar item-start>
                                <img [src]="subreply.startedbyurl" class="mma-forumng-smaller-img">
                            </ion-avatar>
                            <ion-row justify-content-between class="mma-forumng-row-max">
                                <ion-col col-auto class="mma-forumng-col-unpad">
                                    {{ subreply.startedby }}
                                </ion-col>
                                <ion-col col-auto class="mma-forumng-col-unpad">
                                    <span class="mma-forumng-gray-text mma-forumng-smaller-text">{{ subreply.starteddate }}</span>
                                </ion-col>
                            </ion-row>
                        </ion-item>
                        <div class="mma-forumng-smaller-text mma-forumng-indented">
                            <core-format-text [text]="subreply.message" component="mod_forumng" componentId="<% cmid %>"
                                    maxHeight="60" text-wrap></core-format-text>
                        </div>
                        <div *ngIf="subreply.isexpanded">
                            <ion-list *ngFor="let attach of subreply.attachments" class="mma-forumng-indented">
                                <core-file [file]="{fileurl: attach.url, filename: attach.name}" component="mod_forumng"
                                        componentId="<% cmid %>"></core-file>
                            </ion-list>
                            <ion-grid class="mma-forumng-indented">
                                <ion-row justify-content-between align-items-center class="mma-forumng-row-max">
                                    <ion-col col-auto class="mma-forumng-col-unpad">
                                        <span *ngIf="subreply.isflagged"><ion-icon name="flag" item-start></ion-icon></span>
                                        <span *ngIf="subreply.isimportant" class="mma-forumng-iconsize-correction">
                                            <ion-icon name="alert" item-start></ion-icon>
                                        </span>
                                    </ion-col>
                                    <ion-col col-auto class="mma-forumng-col-unpad">
                                        <button *ngIf="subreply.canmarkread" core-site-plugins-call-ws name="mod_forumng_mark_read"
                                                [params]="{discussion: 0, post: subreply.postid}"
                                                successMessage refreshOnSuccess="true" ion-button color="secondary">
                                            {{ 'plugin.mod_forumng.markpostread' | translate }}
                                        </button>
                                    </ion-col>
                                    <ion-col col-auto class="mma-forumng-col-unpad">
                                        <button *ngIf="subreply.canreply" core-site-plugins-new-content ion-button color="secondary"
                                                title="{{ 'plugin.mod_forumng.postreply' | translate }}" component="mod_forumng"
                                                method="reply" [args]="{replyto: subreply.postid}" [disabled]="!isOnline()">
                                            <core-format-text [text]="subreply.replyto"></core-format-text>
                                        </button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-list>
<%/ hasreplies %>
</div>
